body {
    margin: 20px;
    padding: 5px;
    font-size: 15px;
    font-family:'Cinzel', serif;
    color: White;
    background-image: url("RainbowSound.jpg");
    background-size: cover;
    background-color: #cccccc;
    min-width:120px;
    max-width:5000px;
}
.picture {
    border: 2px solid white;
    padding: 1px;
}
nav {
    background-color: grey;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;

}

nav > ul > li > a {
    color: #ffffff;
    background-color: grey;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    margin-right: 45px;
}

#projectstable td {
    vertical-align: top;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.item {
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}